rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validateMetadata(metadata) {
      return metadata != null &&
             metadata.createdAt != null && metadata.createdAt is timestamp;
    }

    match /redirects/{document=**} {
      function validateRedirect(data) {
        return data != null &&
               data.target is string && data.target != "" &&
               data.delay is int && data.delay >= 0 && data.delay <= 60 &&
               data.expiresAt is timestamp && data.expiresAt != null &&
               (data.message is string || data.message == null) &&
               validateMetadata(data.metadata);
      }

      allow get: if true;
      allow list: if false;
      allow create: if validateRedirect(request.resource.data);
      allow update: if false;
      allow delete: if false;
    }
  }
}
