<form
  [formGroup]="createRedirectForm"
  class="flex flex-col justify-center items-start h-full sm:px-32 px-0"
>
  <div class="flex flex-col gap-2 bg-slate-700 p-4 rounded-lg sm:mx-0 mx-auto">
    <div class="text-2xl">smol.bar</div>

    <div class="flex items-center">
      <span>https://smol.bar/r/</span>
      <input
        formControlName="id"
        class="bg-transparent border-2 border-gray-500 p-2"
        type="text"
        placeholder="ID"
      />
    </div>

    <div class="flex flex-col">
      <span>Target</span>
      <input
        formControlName="target"
        class="bg-transparent border-2 border-gray-500 p-2"
        type="text"
        placeholder="https://http.cat/418"
      />
    </div>

    <div class="flex flex-col">
      <span>Delay</span>
      <input
        formControlName="delay"
        class="bg-transparent border-2 border-gray-500 p-2"
        type="number"
        placeholder="3"
        min="0"
        max="60"
      />
    </div>

    <div class="flex flex-col">
      <span>Expires at</span>
      <input
        formControlName="expiresAt"
        class="bg-transparent border-2 border-gray-500 p-2"
        type="date"
      />
    </div>

    <div class="flex flex-col">
      <span>Custom message</span>
      <input
        formControlName="message"
        class="bg-transparent border-2 border-gray-500 p-2"
        type="text"
        placeholder="Thanks for using smol.bar!"
      />
    </div>

    <button
      class="uppercase bg-green-700 disabled:bg-gray-600 p-1"
      [disabled]="loading"
      (click)="createRedirect()"
      type="submit"
    >
      {{ loading ? "Copied!" : "Save & Copy" }}
    </button>

    <span class="text-red-500" *ngIf="error">
      {{ error.message }}
    </span>

    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('id')!.hasError('required')"
    >
      The ID field is required!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('target')!.hasError('required')"
    >
      The target field is required!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('target')!.hasError('pattern')"
    >
      The target has to be a valid URL!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('delay')!.hasError('required')"
    >
      The delay field is required!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('delay')!.hasError('pattern')"
    >
      The delay has to be a valid number!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('delay')!.hasError('min')"
    >
      The delay has to be greater than or equal to 0!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('delay')!.hasError('max')"
    >
      The delay has to be less than or equal to 60!
    </span>
    <span
      class="text-red-500"
      *ngIf="createRedirectForm.get('expiresAt')!.hasError('required')"
    >
      The expires at field is required!
    </span>
  </div>
</form>
