<h2 mat-dialog-title class="uppercase text-center">Login</h2>
<mat-dialog-content>
  <div class="flex flex-col gap-4 w-52 py-2">
    <button mat-raised-button [disabled]="loading" (click)="signInWithGoogle()">
      Sign in with Google
    </button>
    <button mat-raised-button [disabled]="loading" (click)="signInWithGitHub()">
      Sign in with GitHub
    </button>
    <button
      mat-raised-button
      [disabled]="loading"
      (click)="signInAnonymously()"
    >
      Sign in anonymously
    </button>
  </div>
</mat-dialog-content>
